<footer class="module-footer">
  <div class="row">
    <div class="col-12 footer-logo-bar">UNDER ARMOUR</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 footer-block right">
      <div class="row d-none d-sm-block d-md-none">
        <div class="col-sm-6">
          <h4 class="footer-block-header">GET GMAIL UPDATES</h4>
          <form novalidate="">
            <input type="text" name="email" placeholder="Email Address">
            <button>SIGN UP</button>
          </form>
          <div class="us-legal">
            By providing your email, you agree to the
            <a href="#">Privacy Policy</a>
            and
            <a href="#">Terms & Conditions.</a>
            You may later unsubscribe.
          </div>		
        </div>
        <div class="col-sm-6">
          <div class="footer-social">
          <h4>The worlds largest fitness community</h4>
          <div class="emblems">
            <a href="#" class="icon--icon-record"></a>
            <a href="#" class="icon--icon-endo"></a>
            <a href="#" class="icon--icon-mfp"></a>
            <a href="#" class="icon--icon-mmrun"></a>
          </div>
        </div>
        </div>
      </div>
      <div class="d-sm-none d-md-block">
        <h4 class="footer-block-header">GET GMAIL UPDATES</h4>
        <form novalidate="">
          <input type="text" name="email" placeholder="Email Address">
          <button>SIGN UP</button>
        </form>
        <div class="us-legal">
          By providing your email, you agree to the
          <a href="#">Privacy Policy</a>
          and
          <a href="#">Terms & Conditions.</a>
          You may later unsubscribe.
        </div>
        <div class="footer-social">
          <h4>The worlds largest fitness community</h4>
          <div class="emblems">
            <a href="#" class="icon--icon-record"></a>
            <a href="#" class="icon--icon-endo"></a>
            <a href="#" class="icon--icon-mfp"></a>
            <a href="#" class="icon--icon-mmrun"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 footer-block">
      <h4 class="footer-block-header">Customer Service</h4>
      <ul class="footer-block-links">
        <li><a class="footer-block-link" href="#">Help & FAQs</a></li>
        <li><a class="footer-block-link" href="#">Returns</a></li>
        <li><a class="footer-block-link" href="#">Order Tracking</a></li>
        <li><a class="footer-block-link" href="#">Shipping & Delivery</a></li>
        <li><a class="footer-block-link" href="#">Change Region</a></li>
        <li><a class="footer-block-link" href="#">Store Locator</a></li>
        <li><a class="footer-block-link" href="#">Promos & Offers</a></li>
        <li><a class="footer-block-link" href="#">Size Charts</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-md-4 footer-block">
      <h4 class="footer-block-header">ABOUT UNDER ARMOUR</h4>
      <ul class="footer-block-links">
        <li><a class="footer-block-link" href="#">About us</a></li>
        <li><a class="footer-block-link" href="#">Careers</a></li>
        <li><a class="footer-block-link" href="#">UA Community</a></li>
        <li><a class="footer-block-link" href="#">Investor Relations</a></li>
        <li><a class="footer-block-link" href="#">UA Biz Site</a></li>
        <li><a class="footer-block-link" href="#">Affiliates</a></li>
        <li><a class="footer-block-link" href="#">Product Recalls</a></li>
        <li><a class="footer-block-link" href="#">Business Development</a></li>
        <li><a class="footer-block-link" href="#">Under Armour Sportswear</a></li>
        <li><a class="footer-block-link" href="#">Site Map</a></li>
        <li><a class="footer-block-link" href="#">Corporate Sales</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="footer-list">
        <li class="footer-copyright-links">©2018 Under Armour<sup>®</sup>, Inc.</li>
        <li class="footer-copyright-links"><a href="#" target="_blank">Privacy Policy</a></li>
        <li class="footer-copyright-links"><a href="#" target="_blank">Terms &amp; Conditions</a></li>
      </ul>
    </div>
  </div>
</footer>