
.mega-menu-container {
    background: #fff;
}
.head-desc-container {
    padding-top: 60px;

}


.button-container {
    padding-bottom: 60px;
}
.app-container {
    background: #fff;
}

.product-cards {
    background: #f0f0f0;
}