<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<div class="app-container">
    <app-header-bar></app-header-bar>
    <app-mega-menu class="mega-menu-container"></app-mega-menu>
    <app-header-banner></app-header-banner>
    <app-header-description class="d-block head-desc-container" header="NEW ARRIVALS" description="We’ll keep building the gear. You’ll keep getting better."></app-header-description>
    <app-product-button class="d-block button-container"></app-product-button>
    <app-shop-now></app-shop-now>
    <app-product-cards class="d-block product-cards"></app-product-cards>
</div>

